<ion-content>
    <ion-back-button routerLink="/recomendaciones" class="boton-atras"></ion-back-button>

    <div class="contenedor-imagen">
        <img class="imagen-verdura" src="/assets/apio.png" alt="Apio">
    </div>

    <div class="contenedor-texto">
        <ion-card class="tarjeta-texto">
            <ion-card-content>
                <div class="titulo-descripcion">Información de apio:</div>
                <ion-list class="lista-informacion">
                    <ion-item>Calorías: 16 kcal por cada 100g</ion-item>
                    <ion-item>Índice Glucémico: Muy Bajo (15)</ion-item>
                    <ion-item>Aporte: Fibra, Vitamina K y Potasio</ion-item>
                    <ion-item>Tip: Es un excelente diurético natural; consúmelo crudo para aprovechar al máximo su
                        fibra.</ion-item>
                    <ion-item> 🍏 Beneficios para la Salud
                        Gran depurativo y diurético: Gracias a su alto contenido de agua y potasio, ayuda a combatir
                        la retención de líquidos y a eliminar toxinas. </ion-item>

                    <ion-item> Rico en antioxidantes: Contiene flavonoides y vitamina C, que protegen las células del
                        dañoxidativo y fortalecen el sistema inmunológico. </ion-item>
                    <ion-item> Apoya la digestión: Su fibra insoluble favorece el tránsito intestinal y previene el
                        estreñimiento. </ion-item>
                    <ion-item> Salud cardiovascular: El apio puede ayudar a reducir la presión arterial y mejorar
                        la
                        salud del corazón gracias a sus compuestos antiinflamatorios y su contenido de
                        potasio.</ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>