<ion-content>
    <ion-back-button routerLink="/verdura" class="boton-atras"></ion-back-button>

    <div class="contenedor-imagen">
        <img class="imagen-verdura" src="/assets/calabaza.png" alt="Calabaza">
    </div>

    <div class="contenedor-texto">
        <ion-card class="tarjeta-texto">
            <ion-card-content>
                <div class="titulo-descripcion">Información de calabaza:</div>
                <ion-list class="lista-informacion">
                    <ion-item>Calorías: 26 kcal por cada 100g</ion-item>
                    <ion-item>Índice Glucémico: Moderado (75)</ion-item>
                    <ion-item>Aporte: Betacarotenos (Vitamina A) y Potasio</ion-item>
                    <ion-item>Tip: ¡No tires las semillas! Tostadas son una gran fuente de magnesio y zinc</ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>