<ion-header [translucent]="true">

</ion-header>

<ion-content>
  <ion-back-button routerLink="/inicio" class="boton-atras"></ion-back-button>
  <div class="boton-semaforo">

    <ion-grid>
      <ion-row>
        <ion-col><ion-button expand="block" color="transparent"
            routerLink="/recomendaciones">MENU</ion-button></ion-col>
        <ion-col><ion-button expand="block" color="transparent" routerLink="/actividad-fisica">Actividad Física</ion-button></ion-col>
        <!-- <ion-col><ion-button expand="block" color="transparent"
            routerLink="/leguminosas">LEGUMINOSAS</ion-button></ion-col> -->
      </ion-row>
    </ion-grid>
  </div>