<ion-header [translucent]="true">

</ion-header>

<ion-content>
  <ion-back-button routerLink="/recomendaciones" class="boton-atras"></ion-back-button>
  <div class="container">

    <ion-grid>
      <ion-row>
        <ion-col><ion-button expand="block" color="transparent"
            routerLink="/adolescentes">ADOLESCENTES</ion-button></ion-col>
        <ion-col><ion-button expand="block" color="transparent" routerLink="/adulto">ADULTO</ion-button></ion-col>
        <ion-col><ion-button expand="block" color="transparent" routerLink="/adultos-mayores">ADULTOS MAYORES</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-button color="light" expand="block" fill="clear" routerLink="/taichi"><ion-card-content>
              <img src="/assets/taichi.png">
              <ion-button color="light" expand="block" fill="clear">Tai Chi</ion-button>
            </ion-card-content>
          </ion-button>
        </ion-col>

        <ion-col size="4">
          <ion-button color="light" expand="block" fill="clear"  routerLink="/aquagym">
            <ion-card-content>
              <img src="/assets/aquagym.png">
              <ion-button color="light" expand="block" fill="clear">Aquagym</ion-button>
            </ion-card-content>
          </ion-button>
        </ion-col>

        <ion-col size="4">
          <ion-button color="light" expand="block" fill="clear"  routerLink="/caminata-suave">
            <ion-card-content>
              <img src="/assets/caminata_suave.png">
              <ion-button color="light" expand="block" fill="clear">Caminata</ion-button>
            </ion-card-content>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-button color="light" expand="block" fill="clear" routerLink="/yoga-silla">
            <ion-card-content>
              <img src="/assets/yoga_silla.png">
              <ion-button color="light" expand="block" fill="clear">Yoga</ion-button>
            </ion-card-content>
          </ion-button>
        </ion-col>

        <ion-col size="4">
          <ion-button color="light" expand="block" fill="clear" routerLink="/bandas">
            <ion-card-content>
              <img src="/assets/bandas.png">
              <ion-button color="light" expand="block" fill="clear">Bandas</ion-button>
            </ion-card-content>
          </ion-button>
        </ion-col>

        <ion-col size="4">
          <ion-button color="light" expand="block" fill="clear" routerLink="/baile">
            <ion-card-content>
              <img src="/assets/baile.png">
              <ion-button color="light" expand="block" fill="clear">Baile</ion-button>
            </ion-card-content>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>