<ion-header [translucent]="true">

</ion-header>

<ion-content>
  <div class="boton-semaforo">
    <ion-grid>
      <ion-row>
        <ion-col><ion-button expand="block" color="transparent">FRUTA</ion-button></ion-col>
        <ion-col><ion-button expand="block" color="transparent">VERDURA</ion-button></ion-col>
        <ion-col><ion-button expand="block" color="transparent">LEGUMINOSAS</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="container">
    <ion-grid>

      <!-- por alguna razón sucess es fondo como transparente, light es negro y dark es blanco, no se por qué pero así es,
      si quieren cambiar el color del fondo de las cards, cambien el color del botón a light o dark, y el color de la
      card a sucess, y listo, ya tienen el fondo que quieran para las cards-->
      <ion-row>
        <ion-col size="4">
          <ion-card class="card" color="sucess">
            <ion-card-content>

              <img src="/assets/manzana.png">

              <ion-button color="light" expand="block" fill="clear">Manzana</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="sucess">
            <ion-card-content>
              <img src="/assets/naranja.png">
              <ion-button color="light" expand="block" fill="clear">Naranja</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="sucess">
            <ion-card-content>
              <img src="/assets/fresa.png">
              <ion-button color="light" expand="block" fill="clear">Fresa</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-card class="card" color="sucess">
            <ion-card-content>

              <img src="/assets/pera.png">

              <ion-button color="dark" expand="block" fill="clear">Pera</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="sucess">
            <ion-card-content>
              <img src="/assets/sandia.png">
              <ion-button color="dark" expand="block" fill="clear">Sandia </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="sucess">
            <ion-card-content>
              <img src="/assets/mango.png">
              <ion-button color="dark" expand="block" fill="clear">Mango</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>