<ion-content>
    <ion-back-button routerLink="/recomendaciones" class="boton-atras"></ion-back-button>

    <div class="contenedor-imagen">
        <img class="imagen-leguminosa" src="/assets/cacahuate.png" alt="Cacahuate">
    </div>

    <div class="contenedor-texto">
        <ion-card class="tarjeta-texto">
            <ion-card-content>
                <div class="titulo-descripcion">Información de cacahuate:</div>
                <ion-list class="lista-informacion">
                    <ion-item>Calorías: 567 kcal por cada 100g</ion-item>
                    <ion-item>Índice Glucémico: Muy Bajo (14)</ion-item>
                    <ion-item>Aporte: Grasas saludables, Proteína y Vitamina E</ion-item>
                    <ion-item>Tip: Aunque son saludables, son muy densos en calorías; una porción adecuada es lo que quepa en el hueco de tu mano</ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>