<ion-header [translucent]="true">

</ion-header>

<ion-content>
  <div class="boton-verdura">
    <ion-grid>
      <ion-row>
        <ion-col><ion-button expand="block" color="transparent" routerLink="/recomendaciones">FRUTA</ion-button></ion-col>
        <ion-col><ion-button expand="block" color="transparent" routerLink="/verdura">VERDURA</ion-button></ion-col>
        <ion-col><ion-button expand="block" color="transparent" routerLink="/leguminosas">LEGUMINOSAS</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
