<ion-content>
    <ion-back-button routerLink="/leguminosas" class="boton-atras"></ion-back-button>

    <div class="contenedor-imagen">
        <img class="imagen-leguminosa" src="/assets/frijol.png" alt="Frijol">
    </div>

    <div class="contenedor-texto">
        <ion-card class="tarjeta-texto">
            <ion-card-content>
                <div class="titulo-descripcion">Información de frijol:</div>
                <ion-list class="lista-informacion">
                    <ion-item>Calorías: 139 kcal por cada 100g (cocidos)</ion-item>
                    <ion-item>Índice Glucémico: Bajo (30)</ion-item>
                    <ion-item>Aporte: Proteína vegetal, Hierro y Fibra</ion-item>
                    <ion-item>Tip: Combínalos con arroz para obtener una proteína completa de alta calidad.</ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>