<ion-content>
    <ion-back-button routerLink="/recomendaciones" class="boton-atras"></ion-back-button>

    <div class="contenedor-imagen">
        <img class="imagen-fruta" src="/assets/fresa.png" alt="Fresa">
    </div>

    <div class="contenedor-texto">
        <ion-card class="tarjeta-texto">
            <ion-card-content>
                <div class="titulo-descripcion">Información de fresa:</div>
                <ion-list class="lista-informacion">
                    <ion-item>Calorías: 32 kcal por cada 100g</ion-item>
                    <ion-item>Índice Glucémico: Bajo (40)</ion-item>
                    <ion-item>Aporte: Muy baja en carbohidratos</ion-item>
                    <ion-item>Tip: Ideal para snacks entre comidas</ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>