<ion-content>
    <ion-back-button routerLink="/verdura" class="boton-atras"></ion-back-button>

    <div class="contenedor-imagen">
        <img class="imagen-verdura" src="/assets/berenjena.png" alt="Berenjena">
    </div>

    <div class="contenedor-texto">
        <ion-card class="tarjeta-texto">
            <ion-card-content>
                <div class="titulo-descripcion">Información de berenjena:</div>
                <ion-list class="lista-informacion">
                    <ion-item>Calorías: 25 kcal por cada 100g</ion-item>
                    <ion-item>Índice Glucémico: Bajo (20)</ion-item>
                    <ion-item>Aporte: Antocianinas (en la cáscara) y Ácido Clorogénico</ion-item>
                    <ion-item>Tip: No le quites la cáscara morada, ahí es donde se concentran la mayoría de sus antioxidantes</ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>