<ion-content>
    <ion-back-button routerLink="/recomendaciones" class="boton-atras"></ion-back-button>

    <div class="contenedor-imagen">
        <img class="imagen-fruta" src="/assets/naranja.png" alt="Naranja">
    </div>

    <div class="contenedor-texto">
        <ion-card class="tarjeta-texto">
            <ion-card-content>
                <div class="titulo-descripcion">Información de naranja:</div>
                <ion-list class="lista-informacion">
                    <ion-item>Calorías: 47 kcal por cada 100g</ion-item>
                    <ion-item>Índice Glucémico: Bajo (43)</ion-item>
                    <ion-item>Aporte: Vitamina C y Flavonoides</ion-item>
                    <ion-item>Tip: No tomar en jugo, comer la pieza</ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>