<ion-content>
    <ion-back-button routerLink="/leguminosas" class="boton-atras"></ion-back-button>

    <div class="contenedor-imagen">
        <img class="imagen-leguminosa" src="/assets/chicharo.png" alt="Chicharo">
    </div>

    <div class="contenedor-texto">
        <ion-card class="tarjeta-texto">
            <ion-card-content>
                <div class="titulo-descripcion">Información de chicharo:</div>
                <ion-list class="lista-informacion">
                    <ion-item>Calorías: 81 kcal por cada 100g</ion-item>
                    <ion-item>Índice Glucémico: Bajo (45)</ion-item>
                    <ion-item>Aporte: Vitamina K, Vitamina C y Antioxidantes</ion-item>
                    <ion-item>Tip: Son una de las verduras con más proteína; perfectos para saciar el hambre por más tiempo</ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>