<ion-header [translucent]="true">

</ion-header>

<ion-content>
  <ion-back-button routerLink="/recomendaciones" class="boton-atras"></ion-back-button>
  <div class="container">

    <ion-grid>
      <ion-row>
        <ion-col><ion-button expand="block" color="transparent"
            routerLink="/adolescentes">ADOLESCENTES</ion-button></ion-col>
        <ion-col><ion-button expand="block" color="transparent" routerLink="/adulto">ADULTO</ion-button></ion-col>
        <ion-col><ion-button expand="block" color="transparent" routerLink="/adultos-mayores">ADULTOS MAYORES</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-button color="light" expand="block" fill="clear" routerLink="/futbol">
            <ion-card-content>
              <img src="/assets/futbol.png">
              <ion-button color="light" expand="block" fill="clear">Fútbol</ion-button>
            </ion-card-content>
          </ion-button>
        </ion-col>

        <ion-col size="4">
          <ion-button color="light" expand="block" fill="clear" routerLink="/natacion">
            <ion-card-content>
              <img src="/assets/natacion.png">
              <ion-button color="light" expand="block" fill="clear">Natación</ion-button>
            </ion-card-content>
          </ion-button>
        </ion-col>

        <ion-col size="4">
          <ion-button color="light" expand="block" fill="clear" routerLink="/basquetbol">
            <ion-card-content>
              <img src="/assets/basquet.png">
              <ion-button color="light" expand="block" fill="clear">Básquetbol</ion-button>
            </ion-card-content>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-button color="light" expand="block" fill="clear" routerLink="/ciclismo">
            <ion-card-content>
              <img src="/assets/bici.png">
              <ion-button color="light" expand="block" fill="clear">Ciclismo</ion-button>
            </ion-card-content>
          </ion-button>
        </ion-col>

        <ion-col size="4">
          <ion-button color="light" expand="block" fill="clear" routerLink="/danza">
            <ion-card-content>
              <img src="/assets/danza.png">
              <ion-button color="light" expand="block" fill="clear">Danza</ion-button>
            </ion-card-content>
          </ion-button>
        </ion-col>

        <ion-col size="4">
          <ion-button color="light" expand="block" fill="clear" routerLink="/pesas">
            <ion-card-content>
              <img src="/assets/pesas.png">
              <ion-button color="light" expand="block" fill="clear">Pesas</ion-button>
            </ion-card-content>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
