<ion-header [translucent]="true">
</ion-header>

<ion-content>
  <ion-back-button routerLink="/recomendaciones" class="boton-atras"></ion-back-button>

  <div class="boton-leguminosas">
    <ion-grid>
      <ion-row>
        <ion-col><ion-button expand="block" color="transparent"
            routerLink="/recomendaciones">FRUTA</ion-button></ion-col>
        <ion-col><ion-button expand="block" color="transparent" routerLink="/verdura">VERDURA</ion-button></ion-col>
        <ion-col><ion-button expand="block" color="transparent"
            routerLink="/leguminosas">LEGUMINOSAS</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-card class="card" color="sucess" button="true" routerLink="/frijol">
            <ion-card-content>
              <img src="/assets/frijol.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/frijol">Frijol</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="sucess" button="true" routerLink="/lenteja">
             <ion-card-content>
              <img src="/assets/lentejas.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/lenteja">Lenteja</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="sucess" button="true" routerLink="/arroz">
             <ion-card-content>
              <img src="/assets/arroz.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/arroz">Arroz</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-card class="card" color="sucess" button="true" routerLink="/cacahuate">
             <ion-card-content>
              <img src="/assets/cacahuate.png">
              <ion-button color="dark" expand="block" fill="clear" routerLink="/cacahuate">Cacahuate</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="sucess" button="true" routerLink="/chicharo">
             <ion-card-content>
              <img src="/assets/chicharo.png">
              <ion-button color="dark" expand="block" fill="clear" routerLink="/chicharo">Chicharo</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="sucess" button="true" routerLink="/garbanzo">
             <ion-card-content>
              <img src="/assets/garbanzo.png">
              <ion-button color="dark" expand="block" fill="clear" routerLink="/garbanzo">Garbanzo</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>