<ion-content>
    <ion-back-button routerLink="/recomendaciones" class="boton-atras"></ion-back-button>

    <div class="contenedor-imagen">
        <img class="imagen-fruta" src="/assets/mango.png" alt="Mango">
    </div>

    <div class="contenedor-texto">
        <ion-card class="tarjeta-texto">
            <ion-card-content>
                <div class="titulo-descripcion">Información de mango:</div>
                <ion-list class="lista-informacion">
                    <ion-item>Calorías: 60 kcal por cada 100g</ion-item>
                    <ion-item>Índice Glucémico: Medio (51-56)</ion-item>
                    <ion-item>Aporte: Vitamina A y C</ion-item>
                    <ion-item>Tip: Evitar comerlo muy maduro</ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>