<ion-content>
    <ion-back-button routerLink="/recomendaciones" class="boton-atras"></ion-back-button>

    <div class="contenedor-imagen">
        <img class="imagen-fruta" src="/assets/mango.png" alt="Mango">
    </div>

    <div class="contenedor-texto">
        <ion-card class="tarjeta-texto">
            <ion-card-content>
                <div class="titulo-descripcion">Información de mango:</div>
                <ul class="lista-informacion">
                    <li>Dato Uno</li>
                    <li>Dato Dos</li>
                    <li>Dato Tres</li>
                </ul>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>