ion-content {
    --background: #ffffff;
    --background:  linear-gradient(180deg,rgba(255, 255, 255, 1) 13%, rgba(154, 219, 118, 1) 100%, rgba(196, 242, 174, 1) 72%);
}
.boton-inicio{
    position: absolute;
    bottom: 60px;
    left: 11.5%;
    width: 80%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;

}

ion-button {
    --background: #595D5C;
    border-radius: 15%;
    height: 55px;
    font-size:18px;
    color: #ffffff;
}