<ion-content>
  <ion-back-button routerLink="/recomendaciones" class="boton-atras"></ion-back-button>

  <ion-content [fullscreen]="true">
    <div class="contenedor-inicio">
      <img src="/assets/logo.png" class="imagen">

      <div class="boton-inicio">
        <ion-button expand="block" routerLink="/recomendaciones" color="light">
          Recomendaciones
        </ion-button>

        <ion-button expand="block" routerLink="/info" color="light">
          Informate
        </ion-button>

        <ion-button expand="block" routerLink="/dashboard" color="light">
          Recetas!
        </ion-button>
      </div>
    </div>
  </ion-content>