<ion-content>
    <ion-back-button routerLink="/leguminosas" class="boton-atras"></ion-back-button>

    <div class="contenedor-imagen">
        <img class="imagen-leguminosa" src="/assets/arroz.png" alt="Arroz">
    </div>

    <div class="contenedor-texto">
        <ion-card class="tarjeta-texto">
            <ion-card-content>
                <div class="titulo-descripcion">Información de arroz:</div>
                <ion-list class="lista-informacion">
                    <ion-item>Calorías: 130 kcal por cada 100g (cocido)</ion-item>
                    <ion-item>Índice Glucémico: Medio (50 - 58)</ion-item>
                    <ion-item>Aporte: Energía rápida (Carbohidratos) y Vitamina B</ion-item>
                    <ion-item>Tip: Si lo dejas enfriar después de cocinarlo, se forma "almidón resistente", lo que reduce su impacto en el azúcar</ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>