<ion-content>
    <ion-back-button routerLink="/recomendaciones" class="boton-atras"></ion-back-button>

    <div class="contenedor-imagen">
        <img class="imagen-verdura" src="/assets/coliflor.png" alt="Coliflor">
    </div>

    <div class="contenedor-texto">
        <ion-card class="tarjeta-texto">
            <ion-card-content>
                <div class="titulo-descripcion">Información de coliflor:</div>
                <ion-list class="lista-informacion">
                    <ion-item>Calorías: 25 kcal por cada 100g</ion-item>
                    <ion-item>Índice Glucémico: Bajo (15)</ion-item>
                    <ion-item>Aporte: Fibra, Ácido Fólico y Vitamina C</ion-item>
                    <ion-item>Tip: Es un sustituto ideal para el arroz o la masa de pizza si buscas reducir carbohidratos.</ion-item>  
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>