<ion-content>
    <ion-back-button routerLink="/leguminosas" class="boton-atras"></ion-back-button>

    <div class="contenedor-imagen">
        <img class="imagen-leguminosa" src="/assets/garbanzo.png" alt="Garbanzo">
    </div>

    <div class="contenedor-texto">
        <ion-card class="tarjeta-texto">
            <ion-card-content>
                <div class="titulo-descripcion">Información de garbanzo:</div>
                <ion-list class="lista-informacion">
                    <ion-item>Calorías: 164 kcal por cada 100g (cocidos/tostados)</ion-item>
                    <ion-item>Índice Glucémico: Bajo (28)</ion-item>
                    <ion-item>Aporte: Fibra soluble y Manganesos</ion-item>
                    <ion-item>Tip: Tostarlos al horno con especias es una alternativa saludable y crujiente a las papas fritas procesadas</ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>