<ion-header [translucent]="true">
</ion-header>

<ion-content class="ion-padding">
  <ion-back-button routerLink="/inicio" class="boton-atras" text=""></ion-back-button>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre de la receta</ion-label>
      <ion-input [(ngModel)]="recipeName" placeholder="Curry picante de garbanzos"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripcion</ion-label>
      <ion-textarea [(ngModel)]="recipeDescription"
        placeholder="Un curry vegano abundante y lleno de sabor."></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Tiempo de preparacion (minutos)</ion-label>
      <ion-input [(ngModel)]="prepTime" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Tiempo de coccion (minutos)</ion-label>
      <ion-input [(ngModel)]="cookTime" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Porciones</ion-label>
      <ion-input [(ngModel)]="servings" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Ingredientes (uno por linea como ingrediente: cantidad)</ion-label>
      <ion-textarea [(ngModel)]="ingredientsText" placeholder="Garbanzos: 2 latas&#10;Leche de coco: 1 lata">
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Instrucciones (un paso por linea)</ion-label>
      <ion-textarea [(ngModel)]="instructionsText"
        placeholder="Sofrie cebolla, ajo y jengibre.&#10;Agrega curry en polvo y cocina 1 minuto.">
      </ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button expand="block" class="ion-margin-top" (click)="submitRecipe()" color="light">
    Guardar receta
  </ion-button>

  <p *ngIf="message" class="ion-margin-top">{{ message }}</p>

  <div class="separador"></div>

  <p class="titulo-descripcion">Recetas registradas:</p>

  <p *ngIf="recentRecipes.length === 0" class="mensaje-vacio">Aun no hay recetas registradas.</p>

  <ion-card class="tarjeta-texto" color="sucess" *ngFor="let recipe of recentRecipes" (click)="toggleRecipe(recipe.id)">
    <ion-card-content>
      <b>{{ recipe.name }}</b>
      <p>{{ recipe.description }}</p>

      <div *ngIf="expandedId === recipe.id">
        <p>Prep: {{ recipe.prepTime }} min | Coccion: {{ recipe.cookTime }} min | Porciones: {{ recipe.servings }}</p>

        <p><b>Ingredientes:</b></p>
        <p *ngFor="let ing of recipe.ingredients">- {{ ing.ingrediente }}: {{ ing.cantidad }}</p>

        <p><b>Instrucciones:</b></p>
        <p *ngFor="let step of recipe.instructions; let i = index">{{ i + 1 }}. {{ step }}</p>
      </div>

      <p class="toque-expandir">{{ expandedId === recipe.id ? 'cerrar' : 'ver más' }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>