<ion-header [translucent]="true">

</ion-header>

<ion-content>
  <ion-back-button routerLink="/recomendaciones" class="boton-atras"></ion-back-button>
  <div class="container">

    <ion-grid>
      <ion-row>
        <ion-col><ion-button expand="block" color="transparent"
            routerLink="/adolescentes">ADOLESCENTES</ion-button></ion-col>
        <ion-col><ion-button expand="block" color="transparent" routerLink="/adulto">ADULTO</ion-button></ion-col>
        <ion-col><ion-button expand="block" color="transparent" routerLink="/adultos-mayores">ADULTOS MAYORES</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-button color="light" expand="block" fill="clear" routerLink="/caminata">
            <ion-card-content>
              <img src="/assets/caminata.png">
              <ion-button color="light" expand="block" fill="clear">Caminata</ion-button>
            </ion-card-content>
          </ion-button>
        </ion-col>

        <ion-col size="4">
          <ion-button color="light" expand="block" fill="clear" routerLink="/hiit">
            <ion-card-content>
              <img src="/assets/hiit.png">
              <ion-button color="light" expand="block" fill="clear">HIIT</ion-button>
            </ion-card-content>
          </ion-button>
        </ion-col>

        <ion-col size="4">
          <ion-button color="light" expand="block" fill="clear" routerLink="/yoga">
            <ion-card-content>
              <img src="/assets/yoga.png">
              <ion-button color="light" expand="block" fill="clear">Yoga</ion-button>
            </ion-card-content>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-button color="light" expand="block" fill="clear" routerLink="/zumba">
            <ion-card-content>
              <img src="/assets/zumba.png">
              <ion-button color="light" expand="block" fill="clear">Zumba</ion-button>
            </ion-card-content>
          </ion-button>
        </ion-col>

        <ion-col size="4">
          <ion-button color="light" expand="block" fill="clear" routerLink="/pilates">
            <ion-card-content>
              <img src="/assets/pilates.png">
              <ion-button color="light" expand="block" fill="clear">Pilates</ion-button>
            </ion-card-content>
          </ion-button>
        </ion-col>

        <ion-col size="4">
          <ion-button color="light" expand="block" fill="clear" routerLink="/running">
            <ion-card-content>
              <img src="/assets/running.png">
              <ion-button color="light" expand="block" fill="clear">Running</ion-button>
            </ion-card-content>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>