ion-content {
    --background: #ffffff;
    --background: linear-gradient(180deg, rgba(255, 255, 255, 1) 12%, rgba(80, 139, 67, 1) 100%, rgba(196, 242, 174, 1) 44%);
}

ion-col {
    padding: 4px;
    /* Reduces the "air" between cards */
}

.boton-semaforo {
    position: relative;
    justify-content: relative;
    align-items: relative;
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
    flex-direction: row;
    gap: 10px;
}

.imagen {
    position: relative;
    justify-content: relative;
    align-items: relative;
    flex-direction: row;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card {
    padding: 5px;
    position: relative;
    justify-content: relative;
    align-items: relative;
    width: 85%;
    padding: 0 0px;
    margin-top: 20px;
    flex-direction: row;
    box-shadow: 12px 4px 8px 0 rgb(127, 155, 129);
    transition: 0.3s;
    border-radius: 10px;
    margin: relative;
    gap: relative;
    /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */