<ion-header [translucent]="true">

</ion-header>

<ion-content>
  <ion-back-button routerLink="/inicio" class="boton-atras"></ion-back-button>
  <div class="boton-semaforo">

    <ion-grid>
      <ion-row>
        <ion-col><ion-button expand="block" color="transparent"
            routerLink="/menu">MENU</ion-button></ion-col>
        <ion-col><ion-button expand="block" color="transparent" routerLink="/adolescentes">Actividad Física</ion-button></ion-col>
        <!-- <ion-col><ion-button expand="block" color="transparent"
            routerLink="/leguminosas">LEGUMINOSAS</ion-button></ion-col> -->
      </ion-row>
    </ion-grid>
  </div>
  <div class="container">
    <ion-grid>

      <!-- por alguna razón sucess es fondo como transparente, light es negro y dark es blanco, no se por qué pero así es,
      si quieren cambiar el color del fondo de las cards, cambien el color del botón a light o dark, y el color de la
      card a sucess, y listo, ya tienen el fondo que quieran para las cards-->
      <ion-row>
        <ion-col size="4">
          <ion-card class="card" color="sucess" button="true" routerLink="/manzana">
            <ion-card-content>

              <img src="/assets/manzana.png">

              <ion-button color="light" expand="block" fill="clear" routerLink="/manzana">
                Manzana
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="sucess" button="true" routerLink="/naranja">
            <ion-card-content>
              <img src="/assets/naranja.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/naranja">Naranja</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="sucess" button="true" routerLink="/fresa">
             <ion-card-content>
              <img src="/assets/fresa.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/fresa">Fresa</ion-button>  
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-card class="card" color="sucess" button="true" routerLink="/pera">
             <ion-card-content>
              <img src="/assets/pera.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/pera">Pera</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="sucess" button="true" routerLink="/sandia">
             <ion-card-content>
              <img src="/assets/sandia.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/sandia">Sandia</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="sucess" button="true" routerLink="/mango">
             <ion-card-content>
              <img src="/assets/mango.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/mango">Mango</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-card class="card" color="sucess" button="true" routerLink="/frijol">
            <ion-card-content>
              <img src="/assets/frijol.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/frijol">Frijol</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="sucess" button="true" routerLink="/lenteja">
             <ion-card-content>
              <img src="/assets/lentejas.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/lenteja">Lenteja</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="sucess" button="true" routerLink="/arroz">
             <ion-card-content>
              <img src="/assets/arroz.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/arroz">Arroz</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-card class="card" color="sucess" button="true" routerLink="/cacahuate">
             <ion-card-content>
              <img src="/assets/cacahuate.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/cacahuate">Cacahuate</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="sucess" button="true" routerLink="/chicharo">
             <ion-card-content>
              <img src="/assets/chicharo.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/chicharo">Chicharo</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="sucess" button="true" routerLink="/garbanzo">
             <ion-card-content>
              <img src="/assets/garbanzo.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/garbanzo">Garbanzo</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-card class="card" color="transparent" button="true" routerLink="/apio">
            <ion-card-content>
              <img src="/assets/apio.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/apio">
                Apio
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="transparent" button="true" routerLink="/brocoli">
            <ion-card-content>
              <img src="/assets/brocoli.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/brocoli">
                Brócoli
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="transparent" button="true" routerLink="/calabaza">
            <ion-card-content>
              <img src="/assets/calabaza.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/calabaza">
                Calabaza
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-card class="card" color="transparent" button="true" routerLink="/coliflor">
            <ion-card-content>
              <img src="/assets/coliflor.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/coliflor">
                Coliflor
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="transparent" button="true" routerLink="/berenjena">
            <ion-card-content>
              <img src="/assets/berenjena.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/berenjena">
                Berenjena
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card" color="transparent" button="true" routerLink="/betabel">
            <ion-card-content>
              <img src="/assets/betabel.png">
              <ion-button color="light" expand="block" fill="clear" routerLink="/betabel">
                Betabel
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>