<ion-content>
    <ion-back-button routerLink="/recomendaciones" class="boton-atras"></ion-back-button>

    <div class="contenedor-imagen">
        <img class="imagen-leguminosa" src="/assets/lentejas.png" alt="Lenteja">
    </div>

    <div class="contenedor-texto">
        <ion-card class="tarjeta-texto">
            <ion-card-content>
                <div class="titulo-descripcion">Información de lenteja:</div>
                <ion-list class="lista-informacion">
                    <ion-item>Dato Uno</ion-item>
                    <ion-item>Dato Dos</ion-item>
                    <ion-item>Dato Tres</ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>