<ion-content>
  <ion-back-button routerLink="/recomendaciones" class="boton-atras"></ion-back-button>

  <div class="contenedor-imagen">
    <img class="imagen-fruta" src="/assets/manzana.png" alt="Manzana">
  </div>

  <div class="contenedor-texto">
    <ion-card class="tarjeta-texto">
      <ion-card-content>
        <div class="titulo-descripcion">Información de manzana:</div>
        <ion-list class="lista-informacion">
          <ion-item>Calorías: 52 kcal por cada 100g</ion-item>
          <ion-item>Índice Glucémico: Bajo (36)</ion-item>
          <ion-item>Aporte: Fibra y Antioxidantes</ion-item>
          <ion-item>Tip: Comer con cáscara para la fibra</ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>