<ion-content>
    <ion-back-button routerLink="/verdura" class="boton-atras"></ion-back-button>

    <div class="contenedor-imagen">
        <img class="imagen-verdura" src="/assets/betabel.png" alt="Betabel">
    </div>

    <div class="contenedor-texto">
        <ion-card class="tarjeta-texto">
            <ion-card-content>
                <div class="titulo-descripcion">Información de betabel:</div>
                <ion-list class="lista-informacion">
                    <ion-item>Calorías: 43 kcal por cada 100g</ion-item>
                    <ion-item>Índice Glucémico: Moderado (64)</ion-item>
                    <ion-item>Aporte: Nitratos naturales, Hierro y Ácido Fólico</ion-item>
                    <ion-item>Tip: Ideal para deportistas, ya que los nitratos ayudan a mejorar el flujo de oxígeno a los músculos</ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>